body {
    margin: 0px;
    background-color: #FEFEFE
}

#sections {
    height: 100%;
    width: 225px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 40px;
    background-color: #F0F7FD;
    -webkit-box-shadow: 0 0px 20px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 0px 20px rgba(57, 63, 72, 0.3);
    box-shadow: 0 0px 20px rgba(57, 63, 72, 0.3);
}

#sections button {
    background-color: inherit;
    padding: 6px 0px 6px 32px;
    width: 200px;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    color: #034488;
    display: block;
    border: none;
    font-family: "Rubik", sans-serif;

    box-shadow: inset 0 0 0 0 #FFF;
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
}

#sections button:hover:not(:focus) {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: inset 200px 0 0 0 #FFF;
}

#sections button:focus {
    outline: 0;
    color: #FEFEFE;
    background-color: #034488;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#links {
    text-align: center;
    position: fixed;
    bottom: 35px;
    color: #034488;
    font-size: 35px;
    width: 225px;
}

#links a {
    color: inherit;
    padding: 0 5px 0 5px;
}

#email:hover {
    color: #dd4b39;
    transition: 0.2s;
}

#github:hover {
    color: #333;
    transition: 0.2s;
}

#linkedin:hover {
    color: #0077B5;
    transition: 0.2s;
}

#main {
    margin-left: 225px;
}

#home {
    padding: 50px 200px 50px 200px;
}

#me {
    text-align: center;
}

#me img {
    width: 30%;
    border: 8px solid #034488;
    border-radius: 50%;
}

#typewriter {
    width: fit-content;
    color: #034488;
    font-size: 48px;
    font-family: "Inconsolata", monospace;
    border-right: 5px solid #BBD7FF;
    animation: blink-caret .75s step-end infinite;
}

#bio {
    font-family: "Rubik", sans-serif;
    color: #111;
    line-height: 25px;;
}

#bio a {
    color: #2B97EF;
    background-color: #F0F7FD;
    text-decoration: none;
}

#bio a:hover {
    background-color: inherit;
    transition: 0.2s;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #BBD7FF; }
}

#resume {
    margin: 0px;
    padding: 0px;
}

@media screen and (max-height: 450px) {
    #sections {padding-top: 15px;}
    #sections button {font-size: 18px;}
}
