body {
  background-color: #0e0e33;
  font-family: 'Roboto Mono';
  color: #FFF3E5;
}

#sections {
  padding: 20px;
}

#sections a {
  color: #FFF3E5;
  text-decoration: none;
  font-size: 1em;
}

#sections a:hover {
  color: #DBC7B0;
}

#sections a:active {
  color: #DBC7B0;
}

#sections button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#sections button:hover {
  color: #DBC7B0;
}

#sections button:focus {
  color: #DBC7B0;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
}

#home {
  text-align: center;
}

#home img {
  width: 19%;
  border: 5px solid #FFF3E5;
  border-radius: 50%;
}

.typewriter h1 {
  width: fit-content;
  overflow: hidden;
  border-right: .15em solid #DBC7B0;
  white-space: nowrap;
  margin: 0 auto;
  animation:
    typing 1s steps(12, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect 292C33*/
@keyframes typing {
  from { width: 0 }
  to { width: 18% } /* TODO: Fix this shit */
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #DBC7B0; }
}

embed {
  float: center;
}
