body {
  background-color: #252B32;
  font-family: 'Ubuntu Mono';
  color: #EDFAFD;
}

#sections {
  padding-left: 30px;
  padding-top: 30px;
  width: 160px;
  font-size: 1.2em;
  line-height: 1.5em;
  display: inline-block;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
}

#sections a {
  color: #EDFAFD;
  text-decoration: none;
}

#sections a:hover {
  color: #7EBADA;
}

#sections button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#sections button:hover {
  color: #7EBADA;
}

#sections button:focus {
  color: #7EBADA;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
}

#home {
  padding-top: 50px;
  text-align: center;
  width: 50%;
  transform: translate(50%, 0);
}

#home img {
  width: 38%;
  border: 5px solid #EDFAFD;
  border-radius: 50%;
}

#me {
  display: inline;
}

.typewriter h1 {
  width: fit-content;
  overflow: hidden;
  border-right: 5px solid #7EBADA;
  white-space: nowrap;
  margin: 0 auto;
  animation:
    typing 1s steps(12, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect 292C33*/
@keyframes typing {
  from { width: 0 }
  to { width: 38% } /* TODO: Fix this shit */
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #7EBADA; }
}

#resume {
  margin-left: 200px;
  padding: 20px 20px 20px 20px;
  display: inline;
}
